<div class="tasks-list__tasks-item" *ngFor="let task of tasks">
  <tasks-item class="tasks-item" [task]="task" (delete)="delete($event)" (toggle)="toggle($event)" (edit)="edit($event)"></tasks-item>
</div>