<form class="tasks-form__form" (ngSubmit)="onSubmit(); taskForm.reset();" #taskForm="ngForm">
    <input type="text" class="tasks-form__input-text" name="title" [(ngModel)]="title" placeholder="Задание" required>
  <button class="tasks-form__btn" [disabled]="taskForm.form.invalid">Добавить</button>
</form>
