<div class="app__head">
  <header class="head">
    <img src="./../assets/img/LogoTasks.png" alt="Image TEST" class="head__logo">
    <p class="head__dscrp">
      <span class="head__dscrp head__dscrp--clr-over">Делу</span>
      <span class="head__dscrp head__dscrp--clr-second">время,</span>
      <span class="head__dscrp head__dscrp--clr-first">потехе</span>
      <span class="head__dscrp head__dscrp--clr-second">час.</span>
    </p>
  </header>
</div>
<div class="app__container">
  <main class="container">
    <section class="container__tasks-form">
      <tasks-form class="tasks-form"></tasks-form>
    </section>
    <section class="container__tasks-list" *ngIf="tasks.length">
      <tasks-list class="tasks-list"></tasks-list>
    </section>
  </main>
</div>
<div class="app__footer">
  <footer class="footer">
    <p class="footer__text">Epam frontend training</p>
    <p class="footer__text">by OnlyKadr</p>
  </footer>
</div>