.app{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
  font: 1rem 'Open-Sans', sans-serif;
}
  .app__head{
    width: 95%;
    padding: 30px;
  }
  .app__container{
    width: 95%;
    padding: 30px;
    flex-grow: 1;
    flex-shrink: 0;
  }
  .app__footer{
    width: 95%;
    padding: 30px;
  }
