.head{
    text-align: center;
  }
    .head__logo{
      width: 100%;
      max-width: 480px;
      margin-bottom: 15px;
    }
    .head__dscrp{
      font: 1.5rem 'Monotype Corsiva', sans-serif;
    }
      .head__dscrp--clr-first{
        color: #ee3131;
      }
      .head__dscrp--clr-second{
        color: #55bbee;
      }
      .head__dscrp--clr-over{
        color: #4f242e;
      }