.tasks-item{
    padding: 20px;
    border-bottom: 1px solid rgba(79, 36, 46, .15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 480px;
    width: 100%;
    margin: 0 auto;
    color: #444;
    
    -webkit-transition: all .15s;
    -moz-transition: all .15s;
    -o-transition: all .15s;
    transition: all .15s;
  }
  .tasks-item:hover{
    padding: 25px 20px;
    box-shadow: 0 2px 4px -1px rgb(79, 36, 46),
                0 -2px 4px -1px rgb(79, 36, 46);
  }
  .tasks-item:hover .title{
    font-size: 1.1em;
  }
    .tasks-item__btn-checkbox{
      margin-right: 10px;
    }
    .tasks-item__btn-edit{
      margin-left: 10px;
      display: none;
    }
      .tasks-item:hover .tasks-item__btn-edit{
        display: inline-block;
      }
    .tasks-item .material-icons{
      color: #444;
      cursor: pointer;
    }
    .tasks-item__title{
      flex-grow: 1;
      margin: 0 10px;
    }
    .tasks-item__btn-del{
      margin-left: 10px;
      display: none;
    }
    .tasks-item:hover .tasks-item__btn-del{
      display: inline-block;
    }