/*.tasks-form{}*/
  .tasks-form__input-text{
    padding: 15px;
    max-width: 480px;
    width: 100%;
    margin: 0 auto 20px;
    display: block;
    font: 1rem 'Open-Sans', sans-serif;
    border: 1px solid #999;
    border-radius: 3px;
    color: #4f242e;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
  }
  .tasks-form__input-text:focus{
    border: 1px solid #4f242e;
    box-shadow: 0 0 2px 0 #4f242e;
    background: #fff;
  }
  .tasks-form__btn{
    font: 1rem 'Open-Sans', sans-serif;
    text-transform: uppercase;
    width: 204px;
    height: 54px;
    position: relative;
    border: 1px solid transparent;
    border-radius: 25px;
    margin: 0 auto 20px;
    display: block;
    background: #eee;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
  }
  .ng-valid + .tasks-form__btn{
    cursor: pointer;
    color: #4f242e;
    background: #fff;
  }
  .ng-valid + .tasks-form__btn:before{
    border: 1px solid #4f242e;
  }
  .tasks-form__btn:before{
    content: '';
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    border: 1px solid #999;
    border-radius: 25px;
    width: 200px;
    height: 50px;
  }
  .ng-valid + .tasks-form__btn:hover{
    background: #4f242e;
    color: #fff;

    -webkit-transition: all .5s .5s;
    -moz-transition: all .5s .5s;
    -o-transition: all .5s .5s;
    transition: all .5s .5s;
  }
  .ng-valid + .tasks-form__btn:hover.tasks-form__btn:before{
    -webkit-transform: rotate3d(1, 0, 0, 180deg);
    -moz-transform: rotate3d(1, 0, 0, 180deg);
    -o-transform: rotate3d(1, 0, 0, 180deg);
    transform: rotate3d(1, 0, 0, 180deg);

    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    -o-transition: all .6s;
    transition: all .6s;
  }