<div class="tasks-item__btn-checkbox" title="done">
  <button class="tasks-item__material-icons">
    <i class="material-icons" (click)="onToggle()">
      {{task.done ? 'check_box' : 'check_box_outline_blank'}}
    </i>
  </button>
</div>
<div class="tasks-item__title">
  <div class="title" [class.title--done]="task.done">
    {{task.title}}
  </div>
</div>
<div class="tasks-item__btn-edit" title="edit">
  <button class="tasks-item__material-icons" (click)="onEdit()">
    <i class="material-icons">
      edit
    </i>
  </button>
</div>
<div class="tasks-item__btn-del" title="delete">
  <button class="tasks-item__material-icons" (click)="onDelete()">
    <i class="material-icons">
      delete
    </i>
  </button>
</div>