/* You can add global styles to this file, and also import other style files */
@import "./css/app.component.css";
@import "./css/tasks-form.component.css";
@import "./css/tasks-list.component.css";
@import "./css/tasks-item.component.css";
@import "./css/title.css";
@import "./css/head.css";
@import "./css/container.css";
@import "./css/footer.css";
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html, body{
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  font-size: 16px;
}
button,
input{
  border: none;
  outline: none;
  background: none;
}